fastapi
uvicorn
pydantic
python-dotenv
httpx
langchain
langgraph
presidio-analyzer
presidio-anonymizer
groq
google-generativeai
python-multipart
pillow
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
imagekitio
shopifyapi
